<%- include("header.ejs") %>

  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="boyshostels.css" />

  <div class=" container-blockselection">
    <h1 style="color: black; text-align: center">BOYS HOSTEL</h1>
    <section class="card-flex">
      <% for (let i=1; i <=3; i++) { %>

        <a href="/complaint&id=<%=id%>&buildingtype=<%=type%>&block=<%=i%>">
          <p class="glass-card">Block <%= i %>
          </p>
        </a>


        <% } %>
    </section>
    <section class="card-flex">
      <% for (let i=4; i <=6; i++) { %>

        <a href="/complaint&id=<%=id%>&buildingtype=<%=type%>&block=<%=i%>">
          <p class="glass-card">Block <%= i %>
          </p>
        </a>


        <% } %>
    </section>
  </div>

  <%- include("footer.ejs") %>