<%- include("header.ejs") %>


    <link rel="stylesheet" href="userinfo.css">
    <section class="black-box">
        <nav>
            <h2>User Profile</h2>
            <h3>Id: <%= id %>
            </h3>
        </nav>

        <section class="page-description">
            <h1>Hello <%= id %>, </h1>
            <p>Your requested issues are lodged here.</p>
        </section>
        <section class="flex-complains-section">
            <a href="/wifi&id=<%= id %>"><button class="complain-btn" style="margin-top: 12px;">Wifi
                    Issues</button></a>
            <a href="/electric&id=<%= id %>"><button class="complain-btn" style="margin-top: 12px;">Electric
                    Issues</button></a>
            <a href="/clean&id=<%= id %>"><button class="complain-btn" style="margin-top: 12px;">Cleaning</button></a>
            <a href="/plumber&id=<%= id %>"><button class="complain-btn" style="margin-top: 12px;">Plumbing</button></a>
        </section>
    </section>
    <div class="white-box">
        <section class="complaint-description">


            <table>
                <thead>
                    <tr>
                        <th>Complain</th>
                        <th>Status</th>
                        <th>Click To Resolve</th>
                    </tr>
                </thead>


                <tbody>
                    <% for (let complaintKey in complains) { %>
                        <% let complaint=complains[complaintKey]; %>
                            <tr>
                                <td>
                                    <%= complaint.text %>
                                </td>
                                <td>
                                    <%= complaint.status %>
                                </td>
                                <td>
                                    <form method="POST" action="/resolve-<%= complaint.tablename %>&id=<%=id %>">
                                        <input type="hidden" name="complaintKey" value="<%= complaintKey %>">
                                        <button type="submit" class="resolve-btn">Resolve</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                </tbody>

            </table>


        </section>

        <section class="complain-button-section">
            <a href="/select-building&id=<%= id %>"><button class="complain-btn" style="margin-top: 12px;">Push a
                    Complain</button></a>
        </section>
    </div>
    <%- include("footer.ejs") %>